small { font-size: .7em }
svg { display: block }
.page-spacer {
    min-height: 171px;
    height: calc(100% - 160px);
}
.battery-text {
    width: 80px;
    height: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #fff;
    background-image: linear-gradient(#fff 50%, #c3c3c3 0%);
    background-repeat: repeat;
    background-size: 100% 200%;
    transition: background-position .5s ease, opacity .5s ease;
    opacity: 0;
    z-index: 2;
}
.battery,
.battery-text,
.slider {
    margin: 0 auto;
    position: absolute;
    line-height: 6.38em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: Ebrima;
    top: calc(50% - 155px);
    left: calc(50% - 39.5px);
}
.pointer { cursor: pointer }
.battery {
    border: 5px solid #FF4500;
    height: 150px;
    border-radius: 1px;
    width: 70px;
    background-color: #FF4500;
    background-image: linear-gradient(#FF4500 50%, #444 0%);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0 -100%;
    transition: background-position .5s ease;
}
.battery::after {
    background-color: #FF4500;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.bubbles {
    display: inline-block;
    position: relative;
}
.battery-bubbles {
    width: 69px;
    left: calc(50% - 35px);
    height: 149px;
}
.bottom-bubbles {
    width: 39px;
    left: calc(50% - 20px);
    height: 150px;
}
.bubbles span {
    position: relative;
    margin: 3em 0 0; /* Height bubbles rise to */
    color: #fff;
    z-index: 2;
}
.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 0;
    background-color: #FF4500;
    z-index: 1;
}
.vertical {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 159.5px;
    margin: 0;
    margin-left: 95px;
}
.liquid {
    position: absolute;
    width: 70px;
    height: 5px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    margin-top: -51px;
    transition: top .5s ease;
    display: none;
}
.wave {
    -webkit-animation-name: wave-action;
            animation-name: wave-action;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    width: 70px;
    height: 5px;
    fill: #FF4500;
}
@-webkit-keyframes wave-action {
    0%   { -webkit-transform: translate(-150px, 0) }
    100% { -webkit-transform: translate(0, 0) }
}
@keyframes wave-action {
    0%   { transform: translate(-150px, 0) }
    100% { transform: translate(0, 0) }
}

/**/

@media all and (max-height: 332px){
   .onscreen { top: 11px }
}

/**/

/* Animating the top property in Microsoft Edge does not work so prevent animating it */
_:-ms-lang(x), _:-webkit-full-screen, .individual-bubble { top: inherit !important }