<!DOCTYPE html>
<html>
  <head>
  

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

     <title>Dashboard</title>

  </head>
  <body>

      <button type="button">Log Out!</button> 

     

      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand nav-primary" href="#">Soil Data</a>
      </nav>
      <section style="margin-top:10px"></section>

      <div class="row">

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Data</h5> -->
                  <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="Full Data" data-off="Single Data">
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Devices</h5> -->
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Devices
                      </button>
                      <div class="dropdown-menu devices" aria-labelledby="dropdownMenuButton">
                      </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Time</h5> -->
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Time
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" value="20" >5 minutes</a>
                        <a class="dropdown-item" href="#">1 hour</a>
                        <a class="dropdown-item" href="#">2 hour</a>
                        <a class="dropdown-item" href="#">1 Day</a>
                        <a class="dropdown-item" href="#">10 Days</a>
                        <a class="dropdown-item" href="#">1 Month</a>
                        <a class="dropdown-item" href="#">1 Year</a>
                      </div>
                    </div>
                </div>
              </div>
        </div>

     

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Category</h5> -->
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Category
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item category" href="#">e25</a>
                        <a class="dropdown-item category" href="#">bat</a>
                        <a class="dropdown-item category" href="#">ec</a>
                        <a class="dropdown-item category" href="#">temp</a>
                        <a class="dropdown-item category" href="#">vwc</a>
                        <a class="dropdown-item category" href="#">uplink</a>
                        
                       </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
     




     <center> <div class="loader"></div></center>

  
      

      <div id="graphs-container">
        <!-- Append graph here -->
      </div>
   
      
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>