<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Codelaxy">
  <meta name="Keywords" content="best irrigation solution, smart irrigation">
  <meta name="Description" content="">
  <title>Irigate-Best Irrigation Solution</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <style>

    .navbar-nav {margin-right: 13em;}
  .nav-item {margin-right:15px; font-size:18px; font-family:sans-serif;}

 
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .carousel-item {height:548px;}
  #about {text-align:center;}
  #working {text-align:center;}

  .iri  {background-color:green; color:white; padding:10px; height:145px;}

  #working{border:3px solid green; padding:10px;}

  #result{background-color:#b6b6b6}
  #water{font-family:sans-serif; color:white;}
 #footer{background-color:#1c1817; color:white;}
 
 .container-fluid ul li { margin-top:18px; list-style:none;}

 #sol{background-color:#737373 }

  </style>

  <script src="js/moveTo.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const easeFunctions = {
        easeInQuad: function (t, b, c, d) {
          t /= d;
          return c * t * t + b;
        },
        easeOutQuad: function (t, b, c, d) {
          t /= d;
          return -c * t * (t - 2) + b;
        }
      }
      const moveTo = new MoveTo({
        ease: 'easeInQuad'
      }, easeFunctions);
      const triggers = document.getElementsByClassName('js-trigger');
      for (var i = 0; i < triggers.length; i++) {
        moveTo.registerTrigger(triggers[i]);
      }
    });
  </script>
</head>

<body>

  <nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
    <a class="navbar-brand" href="#"> <img src="images/logo.png" alt="Logo" style="width:130px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="#how_it_works" class="js-trigger">How It Works</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">
            <font color="green">Login</font>
          </a>
        </li>
        <a class="btn btn-success" href="/irigatepro">Switch to PRO</a>

    </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form action="/action_page.php">
            <div class="form-group">
              <label for="email"></label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="pwd"></label>
              <input type="tel" class="form-control" id="pwd" placeholder="Enter Mobile Number" name="mno">
            </div>

            <form action="/action_page.php">
              <div class="form-group">
                <label for="comment"></label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Write your Querry" name="text"></textarea>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
      </div>

    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul>
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/slider1.jpg" class="img-responsive" alt="Irrigate">
        <div class="carousel-caption">
          <h2>Step into the Next Generation Agricultural World <br>with Irrigate </h2><br>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Connect With Us</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/sprinkler.jpg" class="img-responsive" alt="Irrigate" " >
      <div class=" carousel-caption">
        <h2>Monitor Your Crop and Take Action<br> on Time </h2><br>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Connect With Us</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/slider3.jpg" class="img-responsive" alt="Irrigate">
      <div class="carousel-caption">
        <h2>Get Best Results without<br>any Hassle </h2><br>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Connect With Us</button>
      </div>
    </div>
  </div>

  </div>
  </div><br><br><br>
  <div class="container" align="center">
    <h2>Irigate at a Glance</h2>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10" align="center">
        <div class="embed-responsive embed-responsive-16by9" id="introVideo">
        <video controls>
            <source src="/video/intro.mp4" type="video/mp4">
          </video>
         </div>
      </div>

      <div class="col-xl-1"></div>
    </div>
  </div><br>


  <div class="iri">
    <div class="container-fluid" align="center">
      <h3> Want to dig deeper? Switch to Irigate Pro</h3><br>
      <a class="btn btn-success" href="irigatepro.html">Switch to Pro</a>


    </div>
  </div><br><br><br>



  <div class="container" align="center">
    <h2>Our Solution</h2>
  </div><br><br>

  <div class="jumbotron" id="sol">
    <div class="row">

      <div class="col-xl-6" align="center">

        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="images/plantsensor.jpg" alt="Card image cap">

        </div>
      </div>

      <div class="col-xl-6" align="center">
        <h4>
          <font color="white">Smart Irrigation Sensor</font color>
        </h4><br>
        <p id="water">Irrigation sensor providing volumetric water content triggering the automatic option of start and stop overriding the control systems and routine daily irrigation calls</p>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Connect With Us</button>

      </div>
    </div><br><br><br><br>

    <div class="row">

      <div class="col-xl-6" align="center">
        <h4>
          <font color="white">Smart Irrigation Control</font color>
        </h4><br>
        <p id="water">Our Data Analytics combine the climatic data, CropET, moisture information and predict the watering window in advance taking into account the watering schedule with a non-disruptive pump operation.</p>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Connect With Us</button>
      </div>


      <div class="col-xl-6" align="center">

        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="images/watersensor.jpg" alt="Card image cap">

        </div>
      </div>
    </div>

  </div>
  <div id="how_it_works">&nbsp;&nbsp;</div>
  <br><br><br>

  <div class="container" align="center">
    <h2>How it Works</h2>
  </div><br><br><br>


  <div class="container" id="working">
    <div class="row ">

      <div class="col-sm-4 " align="center">
        <img class="img-fluid" src="images/circle2.png" alt="About" width="150" height="150"><br><br><br>
        <h3>Sense</h3>
        <p>State of the Art sensors measure various parameters to enable control of plant growth</p>
      </div>
      <div class="col-sm-4 " align="center">
        <img class="img-fluid " src="images/circle 4.png" alt="About" width="150" height="150"><br><br><br>

        <h3>Monitor</h3>
        <p>Continuous monitoring of the plant parameters enable critical decision making</p>
      </div>

      <div class="col-sm-4 " align="center">
        <img class="img-fluid " src="images/circle 3.png" alt="About" width="150" height="150"><br><br><br>

        <h3>Take Action</h3>
        <p>Optimal decision making is made possible by AI powered monitoring and Agronomic supports</p>
      </div>
    </div>

  </div>
  </div>
  </div><br><br><br>

  <div class="container" align="center">
    <h2>Best Results</h2>
    <div><br><br>
      <div class="jumbotron" id="result">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result1.jpg" alt="About" width="500" height="600">
            </div>
            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result2.jpg" alt="About" width="500" height="500">
            </div>
            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result3.jpg" alt="About" width="500" height="500">
            </div>
          </div>
        </div><br>

        <div class="container">

          <div class="row">
            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result4.jpg" alt="About" width="500" height="200">
            </div>
            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result5.jpg" alt="About" width="500" height="50">
            </div>

            <div class="col-sm-4 ">
              <img class="img-fluid " src="images/result6.jpg" alt="About" width="500" height="30">
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container">
      <h2>Get in Touch</h2>
    </div><br><br>

    <div class="container">
      <div class="row">
        <div class="col-xl-3">
        </div>
        <div class="col-xl-6">

          <div class="Form">

            <form action="/action_page.php">
              <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label for="pwd"></label>
                <input type="tel" class="form-control" id="pwd" placeholder="Enter Mobile Number" name="mno">
              </div>

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="comment"></label>
                  <textarea class="form-control" rows="5" id="comment" placeholder="Write your Querry" name="text"></textarea>
                </div>


                <button type="submit" class="btn btn-success">Submit</button>
              </form>
          </div>
        </div>
      </div>

      <div class="col-xl-3"></div>
    </div>
  </div>
  </div>
  </div>
  </div><br><br><br>

  <!--Footer------------------------------------------------------------>

  <div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-xl-3" align="center">
        <ul>
          <li>
            <h5><u>Follow US On</u></h5>
          <li><img class="img-fluid" src="images/fbicon.png" alt="About" width="27" height="27"></li>
          <li><img class="img-fluid" src="images/instalogo.png" alt="About" width="25" height="25"></li>
          <li><img class="img-fluid" src="images/twitterlog.png" alt="About" width="25" height="25"></li>
          <li><img class="img-fluid" src="images/Pintlogo.png" alt="About" width="25" height="25"></li>
        </ul>
      </div>
      <div class="col-xl-5" align="center">
        <ul>
          <li>
            <h5><u>Contact Us</u></h5>
          </li>
          <li><img class="img-fluid" src="images/fav.png" alt="About" width="70" height="70"><br><br>
          <li>
            <h6>E-Mail: info@irigate.com</h6>
          </li>
          <ul>
      </div>
      <div class="col-xl-4" align="center">
        <ul>
          <li>
            <h5><u>Subscribe to Our Newsletter</u></h5>
          </li>

          <li>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br><br>
                <button type="submit" class="btn btn-success">Subscribe</button>

            </form>
          </li>
        </ul>
      </div>

    </div>
  </div><br>

  <div class="container-fluid" align="center">
    All rights reserved @ Irigate Techsolution Pvt.Ltd.
  </div><br>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5c4f7170ab5284048d0f4dc7/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>