<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Codelaxy">
  <meta name="Keywords" content="best irrigation solution, smart irrigation">
  <meta name="Description" content="">
  <title>Irigate-Best Irrigation Solution</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <style>

    .navbar-nav {margin-right: 13em;}
  .nav-item {margin-right:15px; font-size:18px; font-family:sans-serif;}

  #up{background-color:#3dc960}
  #proh{padding:10px; line-height:28px; font-family:cursive;}
  #water{color:white; font-family:sans-serif;}
  #pro{background-color:#737373}
   #footer{background-color:#1c1817; color:white; }
   #button{background-color:#0eb612}
 
 .container-fluid ul li { margin-top:18px; list-style:none;}
  
  </style>

  <script src="js/moveTo.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const easeFunctions = {
        easeInQuad: function (t, b, c, d) {
          t /= d;
          return c * t * t + b;
        },
        easeOutQuad: function (t, b, c, d) {
          t /= d;
          return -c * t * (t - 2) + b;
        }
      }
      const moveTo = new MoveTo({
        ease: 'easeInQuad'
      }, easeFunctions);
      const triggers = document.getElementsByClassName('js-trigger');
      for (var i = 0; i < triggers.length; i++) {
        moveTo.registerTrigger(triggers[i]);
      }
    });
  </script>

</head>

<body>

  <nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
    <a class="navbar-brand" href="#"> <img src="images/logo.png" alt="Logo" style="width:130px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">



        <li class="nav-item">
          <a class="nav-link" href="#packages" class="js-trigger">Packages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">
            <font color="green">Login</font color>
          </a>
        </li>
        <a href="/" class="btn btn-success">Switch to Lite</a>

    </div>
    </div>
  </nav>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form action="/action_page.php">
            <div class="form-group">
              <label for="email"></label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="pwd"></label>
              <input type="tel" class="form-control" id="pwd" placeholder="Enter Mobile Number" name="mno">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>


  <div class="container-fluid">
    <img class="img-fluid" src="images/new2.png" alt="Chania">
  </div>

  <div class="container-fluid" id="up">
    <h5 id="proh">
      <font color="white"> "In the United States, outdoor water use alone averages more than 9 billion gallons of water
        each day, mainly for landscape irrigation. As much as 50% of this water is wasted due to overwatering caused by
        inefficiencies in traditional irrigation methods and systems. Smart irrigation technology is the answer.
        Smart irrigation systems tailor watering schedules and run times automatically to meet specific landscape
        needs. These controllers significantly improve outdoor water use efficiencies".</font color>
    </h5>
  </div>

  <div class="container" id="packages" align="center">

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Talk to an Expert</button><br><br><br><br><br>

  </div>

  <div class="container" align="center">
    <h3>Irigate PRO Packages</h3>
  </div><br>


  <div class="jumbotron" id="pro">


    <div class="row">

      <div class="col-xl-6" align="center">

        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="images/plantsensor.jpg" alt="Card image cap">

        </div>
      </div>

      <div class="col-xl-6" align="center">
        <h4>
          <font color="white">Smart Irrigation Sensor</font>
        </h4><br>
        <p id="water">Irrigation sensor providing volumetric water content triggering the automatic option of start and stop overriding the control systems and routine daily irrigation calls</p>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Know Details</button>

      </div>
    </div><br><br><br><br>

    <div class="row">

      <div class="col-xl-6" align="center">
        <h4>
          <font color="white">Smart Irrigation Control</font>
        </h4><br>
        <p id="water">Our Data Analytics combine the climatic data, CropET, moisture information and predict the watering window in advance taking into account the watering schedule with a non-disruptive pump operation.</p>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Know Details</button>
      </div>


      <div class="col-xl-6" align="center">

        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="images/watersensor.jpg" alt="Card image cap">

        </div>
      </div>
    </div><br><br><br><br>


    <div class="row">

      <div class="col-xl-6" align="center">

        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="images/analytics.jpg" alt="Card image cap">

        </div>
      </div>

      <div class="col-xl-6" align="center">
        <h4>
          <font color="white">Analytics</font>
        </h4><br>
        <p id="water">Soil moisture sensors measure the volumetric water content in soil. Since the direct gravimetric
          measurement of free soil moisture requires removing, drying, and weighting of a sample, soil moisture sensors
          measure the volumetric water content indirectly by using some other property of the soil, such as electrical
          resistance, dielectric constant, or interaction with neutrons, as a proxy for the moisture content.</p>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Know Details</button>

      </div>
    </div>
  </div>
  </div><br><br><br>

  <div class="container-fluid" align="center" id="button">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Book Your Irigate Smart
      Package Today</button>
  </div><br><br><br><br>

  <div class="container-fluid" id="footer">
    <div class="row" id="footer">
      <div class="col-xl-3" align="center">
        <ul>
          <li>
            <h5><u>Follow US On</u></h5>
          <li><img class="img-fluid" src="images/fbicon.png" alt="About" width="27" height="27"></li>
          <li><img class="img-fluid" src="images/instalogo.png" alt="About" width="25" height="25"></li>
          <li><img class="img-fluid" src="images/twitterlog.png" alt="About" width="25" height="25"></li>
          <li><img class="img-fluid" src="images/Pintlogo.png" alt="About" width="25" height="25"></li>
        </ul>
      </div>
      <div class="col-xl-5" align="center">
        <ul>
          <li>
            <h5><u>Contact Us</u></h5>
          </li>
          <li><img class="img-fluid" src="images/fav.png" alt="About" width="70" height="70"><br><br>
          <li>
            <h6>E-Mail: info@irigate.com</h6>
          </li>
          <ul>
      </div>
      <div class="col-xl-4" align="center">
        <ul>
          <li>
            <h5><u>Subscribe to Our Newsletter</u></h5>
          </li>

          <li>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br><br>
                <button type="submit" class="btn btn-success">Subscribe</button>

            </form>
          </li>
        </ul>
      </div>

    </div>
  </div>
  </div>
  </div><br>

  <div class="container-fluid" align="center">
    All rights reserved @ Irigate Techsolution Pvt.Ltd. </div><br>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5c4f7170ab5284048d0f4dc7/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>